.git
.gitignore
.github
.editorconfig
.env.local
.env.*.local
.DS_Store
.vscode
.idea
node_modules
vendor
storage/logs/*
storage/framework/cache/*
bootstrap/cache
coverage
.phpunit.result.cache
.pest.result.cache
docker-compose.yml
docker-compose.override.yml
Dockerfile
.dockerignore
README.md
tests
phpunit.xml
.env.example
